body { font-size: 22px
}

div {
    background-color: ;
    border: 1px dashed blue;
}

#header {
    height: auto;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    text-align: left;
    padding: 5px;
    text-indent: 2.5em;
    font-size: 1.5em;
}

.left {
    float:left;
    height: 10em;
    width: 4.5em;
    display: inline-block;
    border-style: ridge;
    border-color: orange;
    padding: 20px 0px 20px 10px;
}

.right {
    border: 2px dashed black;
    /*Essa borda eh soh pra demarcar mesmo:
            REMOVER NO FINAL!*/
    position: relative;
    float: left;
    width: auto;
    background-color: lightgray;
    font-size: 0.85em;
}

#footer { 
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    clear: both;
    text-align: center;
    
}

#perfil {
    height: 50px;
    width: 50px;
    margin-top: 5px;
    margin-left: 5px;
}
